body {
    margin: 0px;
    padding: 0px;
}

.list1 a{
    color: #000000;
}

a {
    text-decoration: none;
}

.more a {
    COLOR: #333333;
}

a:hover {
    text-decoration: none;
    color: #428BCA;
}

.navigation {
    margin: 0 auto;
    background-color: white;
    font-weight: bold;
    border-bottom: none;
    font-size: 1em;
}

    .navigation img {
        width: 70%;
        margin-top: 1%;
    }

    .navigation li {
        padding-top: 3%;
    }

.centre {
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
}

.centre_img {
    width: 100%;
    margin-bottom: 2%;
    margin-top:5%;
}
.content_li {
   list-style:none;
   font-size: 16px;
}

.more a {
    COLOR: #333333;
}

.focus {
    padding: 0.3%;
    background-color: #D0D1D2;
    padding-left: 9%;
    padding-right: 40%;
    font-size: 0.5em;
    text-align: center;
}

    .focus p {
        font-family: KaiTi;
        font-size: 2em;
        font-weight: bold;
        float: left;
        margin: 0.5%;
        margin-right: 3%;
        margin-top: 6%;
    }

    .focus img {
        width: 95%;
        margin-bottom: 0.3%;
    }

.correlation {
    background-color: #CACCCB;
    vertical-align: middle;
    padding-top: 0.5%;
    padding-left: 9%;
    padding-right: 40%;
}

    .correlation p {
        font-size: 1em;
        font-family: KaiTi;
        font-weight: bold;
    }

    .correlation input {
        width: 4%;
        margin-right: 2%;
        cursor: pointer;
    }

.more-search {
    background-color: #F0F1F2;
    padding-top: 0.7%;
    padding-left: 9%;
    *padding-right: 9%;
}

    .more-search li {
        line-height: 1.8em;
        font-size: 0.7em;
    }

    .more-search span {
        font-size: 16px;
    }

    .more-search font {
        font-size: 13px;
    }


.bott_cop {
    background-color: #1a1a19;
    text-align: center;
}

.bott_cop_row {
    margin-top: 2em;
    margin-bottom: 1em;
    display: inline-block;
}

.cop_r1 {
    float: left;
    text-align: center;
}

    .cop_r1 ul {
        display: inline-block;
        list-style: none;
    }

    .cop_r1 li {
        float: left;
        margin-right: 1em;
        font-size: 1.3em;
        color: #dfdfdf;
    }

.cop_a a {
    color: #dfdfdf;
}

.cop_r2 {
    float: left;
    margin-left: 2em;
}

.saml li {
    font-size: 1em;
}

.saml a {
    color: #dfdfdf;
}



@media (max-width: 960px) {
    .centre {
        margin-top: 2%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .cop_a {
        font-size: small;
    }

    .saml {
        font-size: small;
    }
}

@media (max-width: 700px) {
    .cop_a {
        font-size: 12px;
    }
}

