<!DOCTYPE html>
<html lang="zh-cn">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>爱消防在线</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="../../Static/css/home/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--head-->
    <nav class="navbar navbar-default navigation navbar-fixed-top">
        <div class="container-fluid ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../../Static/img/home/logo_top.png" width="55%">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://iot.ixfcn.com/">物联网</a></li>
                    <li><a href="http://dmd.ixfcn.com/">检测维保</a></li>
                    <li><a href="/Home/Maintain">交易</a></li>
                    <li><a href="/Home/ServiceQuestion">增值服务</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">未登录</a></li>
                    <li class="dropdown">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <img alt="Brand" src="../../Static/img/home/personal.jpg" width="70%；">
                            </a>
                        </div>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>




    <div class="details">
        <!--物联网-->
        <div class="col-md-12 col-xs-12 Inter-Things">
            <div>
                <ul class="list-unstyled">
                    <li><p>物联网</p></li>
                    <li style="font-size:0.7em;font-weight:normal;"><p>更安全 更快捷 更精准</p></li>
                    <li>
                        <a href="http://iot.ixfcn.com/"><input type="button" value="了解更多 >"></input></a>
</li>
                </ul>
            </div>
        </div>
        <div class="row show-details">
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/information.jpg">
                <h5>资讯中心</h5>
                <p>掌握最新最快的事实信息</p>
                <a href="/Home/News?type=1&nowPageNum=1">点击进入 ></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/regulation.jpg">
                <h5>法规标准</h5>
                <p>更全、更准确</p>
                <a href="/Home/Laws?type=4&nowPageNum=1">查询进入 ></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/academic.jpg">
                <h5>学术论文</h5>
                <p>专业性、学术性、知识性</p>
                <a href="/Home/Paper?type=1&nowPageNum=1">研讨进入 ></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/exhibition.jpg">
                <h5>活动展会</h5>
                <p>了解新型产物，服务社会和您的企业</p>
                <a href="/Home/Maintain">参加进入 ></a>
            </div>
        </div><!--show-details-->
        <!--检测维保-->
        <div class="col-md-12 col-xs-12 detection-maintenance">
            <div>
                <ul class="list-unstyled">
                    <li><p>检测维保与远程诊断系统 2.0</p></li>
                    <li>
                        <a href="http://dmd.ixfcn.com/"><input type="button" value="了解更多 >"></input></a>
</li>
                </ul>
            </div>
        </div>
        <div class="row show-details">
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/com_inspect.jpg">
                <h5>企业考察</h5>
                <p>了解更好的企业，保障您的财产和安全</p>
                <a href="/Home/Company?/Home/Laws?type=1&nowPageNum=1">详细了解&nbsp></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/contact_diagnose.jpg">
                <h5>联系诊断</h5>
                <p>足不出户，方便您的沟通</p>
                <a href="/Home/Maintain">立即进入&nbsp></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/value_added.jpg">
                <h5>增值服务</h5>
                <p>帮助您完善消防管理</p>
                <a href="/Home/Service">立即下载&nbsp></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/firemen.jpg">
                <h5>消防英雄</h5>
                <p>轻松玩游戏，快乐学消防</p>
                <a href="/Home/Maintain">玩家进入&nbsp></a>
            </div>
            `
        </div>
        <!--阳关交易-->
        <div class="col-md-12 col-xs-12 sunlight-trading">
            <div>
                <ul class="list-unstyled">
                    <li><p>阳光交易</p></li>
                    <li style="font-size:16px;font-weight:normal;"><p>产品放心 安全可靠 有保障</p></li>
                    <li>
                        <input type="button" value="了解更多 >"></input>
                    </li>
                </ul>
            </div>
        </div>
        <div class="show-details">
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/business_ranking.jpg">
                <h5>企业排名</h5>
                <p>了解更好的企业，选择先进的器材,设备,装备</p>
                <a href="/Home/Maintain">了解进入 ></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/map.jpg">
                <h5>物流地图</h5>
                <p>更精准、更方便、更快捷</p>
                <a href="/Home/Maintain">详细查询&nbsp></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/internation_connections.jpg">
                <h5>国际联系</h5>
                <p>帮助您了解境外产品与需求</p>
                <a href="/Home/Maintain">需求进入&nbsp></a>
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../../Static/img/home/new_product.jpg">
                <h5>新品发布</h5>
                <p>更早的了解先进产品</p>
                <a href="/Home/Maintain">了解进入&nbsp></a>
            </div>
        </div><!--show-details-->
        <!--宣传-->
        <div class="col-md-12 col-xs-12 internation">
            <div class="col-md-10 col-xs-12 network-pub">
                <ul class="list-unstyled">
                    <li><p>网络消防宣传</p></li>
                    <li style="font-size:16px;font-weight:normal;"><p>教育宣传 安全学习</p></li>
                    <li>
                        <a href="/Home/Maintain"><input type="button" value="了解更多 >"></input></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-12 video">
                <a href="/Home/Maintain"><img src="../../Static/img/home/city.jpg" /></a><br />
                <a href="/Home/Maintain"><img src="../../Static/img/home//vehicle.jpg" /></a><br />
                <a href="/Home/Maintain"><img src="../../Static/img/home/school.jpg" /></a><br />
                <input type="button" value="更多 >"></input><br />
                <p>消防体验</p>
                <a href="/Home/Maintain"><img src="../../Static/img/home/VR.jpg" /></a><br />
            </div>
        </div>
    </div><!--second-->
    <div class="more">
        <div class="col-md-12 col-xs-12 focus">
            <div class="col-md-2 col-xs-12"><p>关注 ixfcn</p></div>
            <div class="col-md-1 col-xs-2">
                <a href="/Home/Maintain">
                    <img src="../../Static/img/home/notice.jpg" /><br />
                    公告
                </a>
            </div>
            <div class="col-md-1 col-xs-2">
                <a href="/Home/Maintain">
                    <img src="../../Static/img/home/question.jpg" /><br />
                    问答
                </a>
            </div>
            <div class="col-md-1 col-xs-2">
                <a href="/Home/Maintain">
                    <img src="../../Static/img/home/complain.jpg" /><br />
                    投诉
                </a>
            </div>
            <div class="col-md-1 col-xs-2">
                <a href="/Home/Maintain">
                    <img src="../../Static/img/home/award.jpg" /><br />
                    有奖
                </a>
            </div>
            <div class="col-md-1 col-xs-2">
                <a href="/Home/Maintain">
                    <img src="../../Static/img/home/message.jpg" /><br />
                    留言
                </a>
            </div>
        </div><!--focus-->
        <div class="col-md-12 col-xs-12 correlation">
            <div class="col-md-2">
                <p>搜索推荐</p>
            </div>
            <div class="col-md-10">
                <input type="image" src="../../Static/img/home/WeChat.JPG"></input>
                <input type="image" src="../../Static/img/home/microblog.JPG"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
                <input type="image" src="../../Static/img/home/code.jpg"></input>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 more-search">
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <ul class="list-unstyled">
                        <li style="font-size:0.9em;">增值服务</li>
                        <li><a href="/Home/Maintain">消防档案</a></li>
                        <li><a href="/Home/Maintain">消防资质</a></li>
                        <li><a href="/Home/Maintain">作战预案</a></li>
                        <li><a href="/Home/Maintain">消防考试</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul class="list-unstyled">
                        <li style="font-size:0.9em;">爱消防官方商城</li>
                        <li><a href="/Home/Maintain">我的订单</a></li>
                        <li><a href="/Home/Maintain">与我们联系</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul class="list-unstyled">
                        <li style="font-size:0.9em;">下载</li>
                        <li><a href="/Home/Paper?type=1&nowPageNum=1">学术论文</a></li>
                        @*<li><a href="">参考文献</a></li>*@
                        <li><a href="/Home/Paper?type=2&nowPageNum=1">专家发表</a></li>
                        <li><a href="/Home/Paper?type=3&nowPageNum=1">新技术</a></li>
                        <li><a href="/Home/Maintain">消防游戏</a></li>
                        <li><a href="/Home/Maintain">网络宣传教育影片</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul class="list-unstyled">
                        <li style="font-size:0.9em;">消防体验</li>
                        <li><a href="/Home/Maintain">V R消防体验</a></li>
                        <li><a href="/Home/Maintain">真人消防体验</a></li>
                        <li><a href="/Home/Maintain">消防训练馆</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul class="list-unstyled">
                        <li style="font-size:0.9em;">公司</li>
                        <li><a href="/Home/Maintain">招纳贤士</a></li>
                        <li><a href="/Home/Maintain">关于爱消防</a></li>
                        <li><a href="/Home/Maintain">公司新闻</a></li>
                    </ul>
                </div>
            </div>
        </div><!--more-search-->
        <div class="col-md-12 col-xs-12 site">
            <div class="col-md-5 col-md-offset-3 col-xs-6 col-xs-offset-2 address">
                友情链接：<a href="http://www.gov.cn/">中国中央人民政府</a>　　　<a href="http://119.china.com.cn/ ">中国消防在线</a>　　　<a href="http://www.cfpa.cn/manage/html/index.html">中国消防协会</a>  <a href="http://www.cfpa.cn/manage/html/index.html">走进中国消防</a><br />
                公司地址：上海市闵行区万源路2158号鸿毅大厦B座		沪ICP备15053056号-1
            </div>
            <div class="col-md-1 col-xs-3">
                <img src="../../Static/img/home/QR_code.jpg">
            </div>
        </div>
    </div><!--more-->
</body>
</html>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
